# Uncomment it when ds libe v2 will be released
#th2-data-services>=2,<3  # ds core 2.*

th2-data-services~=2.0.0.dev11777337875
# We don't need it now, because we don't suport grpc now
# th2_grpc_lw_data_provider==2.0.0.dev3656626108
orjson>=3,<4